:root {
  --primary-color: #95c3f1;
  --success-color: #99d17ded;
  --warning-color: #dcbc8d;
  --danger-color: #f7b4b4;
  --info-color: #909399;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1.6;
  color: #303133;
}